<div style="background-image:url(assets/about-header.jpg);" class="parallax">
  <div class="container">
    <h1 class="aboutttl">See why over 10 million visitors use Transcripts</h1>
    
  </div>
</div>
<div class="mini-title-head-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="greybeadcrub">
          <ul class="greybeadcrub">
            <li><%= link_to 'Home',root_path %></li>
            <li class="active">About Us</li>
          </ul>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="container">
 <div class="col-sm-3 col-md-3">         
  <!--<h2>Information</h2>-->
  <ul class="list-group">
   <li class="list-group-item active">Information</li>
   <li class="list-group-item">
        <%= link_to about_path do %>
        <i class="fa fa-group"></i>&nbsp;About Us
        <%end%>
      </li>
   <li class="list-group-item">
        <%= link_to contact_path do %>
        <i class="fa fa-envelope"></i>&nbsp;Contact Us
        <%end%>
      </li>
   <li class="list-group-item"><a href="#"><i class="fa fa-leanpub">&nbsp;</i>Terms & Conditions</a></li>
   <li class="list-group-item"><a href="#"><i class="fa fa-globe">&nbsp;</i>Privacy Policy</a></li>
   <li class="list-group-item"><a href="#"><i class="fa fa-lock">&nbsp;</i>Faq's</a></li>
 </ul>  
                <!--<div class="">
                <a href="#" rel="nofollow" class="parpad3btnregis">Register now</a>
              </div>   -->   
            </div>
            
            <div class="col-sm-9 col-md-9">
              <h3 class="sbttle">Title Here</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                <h3 class="sbttle">Title Here</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                  <p> remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                  <h3 class="sbttle">Title Here</h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>

                    <p>but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                  </div>
                </div>   
                
                

                
                
                <div class="banner_bottom">
                 <div class="container">
                   <div class="aligncenter">
                     <h3 class="h3txt3">Testimonials</h3>
                     <p class="ptxt2">what customers are saying about us</p>
                   </div>
                   
                 </div>
               </div>
               
               
               <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                   <div class="box_out1">
                    <div class="testi3">
                      <div class="caption">
                       
                        
                        <p><img src="/assets/blockquotes.png" width="34" height="31"> Dolor sit amet consectetur isicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud laboris.  <br>
                          <br>
                          <div class="lintsti">
                           <div class="col-sm-2"><img src="/assets/test1.png" width="43" height="48"></div>
                           <div class="col-sm-10"><strong>John Doe</strong> <br />CEO</div>
                           
                         </div>
                       </p>

                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 col-sm-4">
                <div class="box_out1">
                 <div class="testi4">
                   <div class="caption">

                     
                    <p><img src="/assets/blockquotes.png" width="34" height="31"> Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sunt in culpa officia deserunt mollit anim laborum sint occaecat. </p>
                    <br>
                    
                    <div class="lintsti">
                     <div class="col-sm-2"><img src="/assets/alex.png" width="43" height="48"></div>
                     <div class="col-sm-10"><strong>Alex Martin</strong> <br />
                      UI Designer</div>
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="box_out1">
               <div class="testi5">
                 <div class="caption">
                   
                   
                  <p><img src="/assets/blockquotes.png" width="34" height="31"> Aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse slum dolore eu fugiat nulla pariatursint occaecat.  <br>
                    <br>
                    <div class="lintsti">
                     <div class="col-sm-2"><img src="/assets/linda.png" width="43" height="48"></div>
                     <div class="col-sm-10"><strong>Linda Doe</strong> <br />
                      Developer</div>
                      
                    </div>
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      

