

<div class="container-fluid">
<% if alert %>
  <center><p class="alert alert-danger"><%= alert %></p></center>
<% end %>
<% if flash[:notice] %>
  <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
<% end %> 
	<div class="menu_bg">
    	<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/assets/banner.png" alt=""  width="100%" />
        <!--<div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>-->
      </div>

      <div class="item">
        <img src="/assets/banner1.png" alt=""  width="100%" />
        <!--<div class="carousel-caption">
          <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>-->
      </div>
    
      <div class="item">
        <img src="/assets/banner2.png" alt=""  width="100%" />
        <!--<div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>-->
      </div>
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    </div>
</div>

	<div class="banner_bottom">
    	<div class="container">
        	<div class="aligncenter">
            	<h3 class="h3txt4">See why over 10 million visitors use Transcripts</h3>
                <p class="aligncenter_itelic">Discover how we can help you:</p>
            </div>
            <div class="btnoutrwdth">
            <div class="row">
            <div class="col-md-6 col-sm-6">
            	<div class="btwdt">
                <a href="#" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-education"></span>  
    I Am a Student </a>
    </div>
            </div>
            <div class="col-md-6 col-sm-6">
            <div class="btwdt">
            	 <a href="#" class="btn btn-info btn-lg ">
      <span class=" glyphicon glyphicon-user"></span>   Get in Touch </a>
      </div>
            </div>
  
            	

            </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <div class="features">
    	<div class="row">
        	<h3 class="h3txt">Features</h3>
                <p class="aligncenter_itelic2">the simple ways we are set apart</p>
        </div>
    </div>
    <div class="container">
    <div class="row">
    	 <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
         <div class="box_out1">
         	<div class="features3">
       	    <img src="/assets/dip.png" width="89" height="68">
            	<div class="caption">
            <h3>Diploma</h3>
      
            <p>We offer an additional service of printing a high quality diploma complete with your school emblem. <br>
              <br>
            </p>
            <p> <a role="button" class="btn btn-primary" href="#">View more</a></p>
          </div>
            </div>
            </div>
         </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="features4">
            	<img src="/assets/print.png" width="89" height="68">
            	<div class="caption">
            <h3>Print</h3>
           
            <p>Print single page transcripts with your school emblem and ordered by year or subject, in protrait or landscape. </p>
            <p> <a role="button" class="btn btn-primary" href="#">View more</a></p>
          </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="features5">
            	<img src="/assets/doc.png" width="89" height="68">
            	<div class="caption">
            <h3>Document & Store</h3>
     
            <p>A clear and simple way to document your student grades and credits all through high school. <br>
              <br>
            </p>
            <p> <a role="button" class="btn btn-primary" href="#">View more</a></p>
          </div>
          </div>
        </div>
        </div>
        </div>
    </div>
    <div class="features">
    	<div class="row">
        	<h3 class="h3txt">Plan and Prices</h3>
                <p class="aligncenter_itelic2">three options</p>
        </div>
    </div>
    
    <div class="container">
    <div class="row">
    	 <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
         <div class="box_out1">
         	<div class="plan3">
         	  <div class="caption">
            <h3 class="h3txt2">Diploma</h3>
            <p class="ptxt1">30 Days of free access</p>
      
            <p>We offer an additional service of printing a high quality diploma complete with your school emblem. <br>
              <br>
            </p>
            <p> <a role="button" class="btn btn-info" href="#">View Plans</a></p>
          </div>
           </div>
           </div>
         </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="plan4">
        	  <div class="caption">
            <h3 class="h3txt2">Print</h3>
           <p class="ptxt1">30 Days of free access</p>
            <p>Print single page transcripts with your school emblem and ordered by year or subject, in protrait or landscape. </p>
            <p> <a role="button" class="btn btn-info" href="#">View Plans</a></p>
          </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="plan5">
        	  <div class="caption">
            <h3 class="h3txt2">Document & Store</h3>
     <p class="ptxt1">30 Days of free access</p>
            <p>A clear and simple way to document your student grades and credits all through high school. <br>
              <br>
            </p>
            <p> <a role="button" class="btn btn-info" href="#">View Plans</a></p>
          </div>
          </div>
          </div>
        </div>
        </div>
    </div>
<div class="banner_bottom">
    	<div class="container">
        	<div class="aligncenter">
            	<h3 class="h3txt3">Testimonials</h3>
                <p class="ptxt2">what customers are saying about us</p>
            </div>
            
        </div>
    </div>
    
    
<div class="container">
    <div class="row">
    	 <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
         <div class="box_out1">
         	<div class="testi3">
         	  <div class="caption">
   
      
            <p><img src="/assets/blockquotes.png" width="34" height="31"> I just love using transcripts.me <br>
              <br>
              <div class="lintsti">
              	<div class="col-md-2 col-sm-3"><img src="/assets/test1.png" width="43" height="48"></div>
                <div class="col-md-10 col-sm-9"><strong>John Doe</strong> <br />CEO</div>
                
              </div>
            </p>

          </div>
           </div>
           </div>
         </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="testi4">
        	  <div class="caption">

           
            <p><img src="/assets/blockquotes.png" width="34" height="31"> Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sunt in culpa officia deserunt mollit anim laborum sint occaecat. </p>
             <br>
       
              <div class="lintsti">
              	<div class="col-md-2 col-sm-3"><img src="/assets/alex.png" width="43" height="48"></div>
                <div class="col-md-10 col-sm-9"><strong>Alex Martin</strong> <br />
                  UI Designer</div>
                
              </div>

          </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div class="box_out1">
        	<div class="testi5">
        	  <div class="caption">
     
     
            <p><img src="/assets/blockquotes.png" width="34" height="31"> Aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse slum dolore eu fugiat nulla pariatursint occaecat.  <br>
              <br>
              <div class="lintsti">
              	<div class="col-md-2 col-sm-3"><img src="assets/linda.png" width="43" height="48"></div>
                <div class="col-md-10 col-sm-9"><strong>Linda Doe</strong> <br />
                  Developer</div>
                
              </div>
            </p>
            
          </div>
          </div>
          </div>
        </div>
        </div>
    </div>
    
    



