/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require font-awesome
 *= require bootstrapValidator.min
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap" ;
.login-main{width:32%; padding:15px; background:#efefef; border:1px solid #ddd; border-radius:4px; margin:0 auto;}
.login-main h2{font-size:22px; font-weight:600;}
.login-flds{margin:12px 0px;}
.login-flds label{width:44%; float:left;}
.login-flds input{width:55% !important;}

