table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:14px;
}
.wraper{
	width:1144px;
	margin:0 auto;
	padding:10px;
}
.lft-side{
	color:#666;
	width:50%;
	float:left;
}
.rgt-side{
	width:50%;
	float:left;
}
.school_logo{
	float:right;
	background-image:url(/img/logo.jpg);
	background-repeat:no-repeat;
	width:132px;
	height:131px;
}
.lg-inside{
	font-size: 12px;
    font-weight: bold;
    left: 41px;
    position: relative;
    top: 56px;
}
.high-school{
    font-size: 14px;
    font-weight: bold;
    left: -59px;
    position: relative;
    top: -62px;
}
/*= TEXT ELEMENTS
--------------------------------------------------------*/				

      #simple_arc { 
					
					 display: block; 
					 width:306px; 
					 height:305px;
					 }

                     #simple_arc>span[class^=w]:nth-of-type(n+0){
					 display:block; 
					 position:absolute;
                     -moz-transform-origin:50% 100%; 
					 -webkit-transform-origin:50% 100%; 
					 -o-transform-origin:50% 100%; 
					 -ms-transform-origin:50% 100%; 
					 transform-origin:50% 100%; 
					 }

                     #simple_arc span{
					 font-family:'Viga';
					 font-size:38px;
					 font-weight:regular;
					 font-style:normal;
                     line-height:0.65; 
					 white-space:pre; 
					 overflow:visible; 
					 padding:0px;
					 }

                     #simple_arc .w0 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad); 
					 transform: rotate(-1.14rad);
                     width: 21px; 
					 height: 24px; 
					 left: 42.7px; 
					 top: 93.95px;
					 }

                     #simple_arc .w1 { 
					 -moz-transform: rotate(-0.95rad);
					 -webkit-transform: rotate(-0.95rad);
					 -o-transform: rotate(-0.95rad);
					 -ms-transform: rotate(-0.95rad); 
					 transform: rotate(-0.95rad);
                     width: 11px; 
					 height: 24px; 
					 left: 58.34px; 
					 top: 75.89px;
					 }

                     #simple_arc .w2 {
					 -moz-transform: rotate(-0.69rad);
					 -webkit-transform: rotate(-0.69rad);
					 -o-transform: rotate(-0.69rad);
					 -ms-transform: rotate(-0.69rad); 
					 transform: rotate(-0.69rad);
                     width: 34px; 
					 height: 24px; 
					 left: 65.63px; 
					 top: 55.91px;
					 }

                     #simple_arc .w3 {
					 -moz-transform: rotate(-0.4rad);
					 -webkit-transform: rotate(-0.4rad);
					 -o-transform: rotate(-0.4rad);
					 -ms-transform: rotate(-0.4rad); 
					 transform: rotate(-0.4rad);
                     width: 21px; 
					 height: 24px; 
					 left: 99.89px; 
					 top: 39.25px;
					 }

                     #simple_arc .w4 {
					 -moz-transform: rotate(-0.15rad);
					 -webkit-transform: rotate(-0.15rad);
					 -o-transform: rotate(-0.15rad);
					 -ms-transform: rotate(-0.15rad); 
					 transform: rotate(-0.15rad);
                     width: 22px; 
					 height: 24px; 
					 left: 124.87px; 
					 top: 32.19px;
					 }

                     #simple_arc .w5 {
					 -moz-transform: rotate(0.1rad);
					 -webkit-transform: rotate(0.1rad);
					 -o-transform: rotate(0.1rad);
					 -ms-transform: rotate(0.1rad); 
					 transform: rotate(0.1rad);
                     width: 23px; 
					 height: 24px; 
					 left: 151.79px; 
					 top: 31.58px;
					 }

                     #simple_arc .w6 {
					 -moz-transform: rotate(0.3rad);
					 -webkit-transform: rotate(0.3rad);
					 -o-transform: rotate(0.3rad);
					 -ms-transform: rotate(0.3rad); 
					 transform: rotate(0.3rad); 
					 width: 10px; 
					 height: 24px; 
					 left: 179.32px; 
					 top: 35.9px;
					 }

                     #simple_arc .w7 {
					 -moz-transform: rotate(0.51rad);
					 -webkit-transform: rotate(0.51rad);
					 -o-transform: rotate(0.51rad);
					 -ms-transform: rotate(0.51rad); 
					 transform: rotate(0.51rad);
                     width: 26px; 
					 height: 24px; 
					 left: 192.4px; 
					 top: 44.98px;
					 }

                     #simple_arc .w8 {
					 -moz-transform: rotate(0.79rad);
					 -webkit-transform: rotate(0.79rad);
					 -o-transform: rotate(0.79rad);
					 -ms-transform: rotate(0.79rad); 
					 transform: rotate(0.79rad); width: 25px; 
					 height: 24px; 
					 left: 217.07px; 
					 top: 63.42px;
					 }

                     #simple_arc .w9 
					 { 
					 -moz-transform: rotate(1.06rad);
					 -webkit-transform: rotate(1.06rad);
					 -o-transform: rotate(1.06rad);
					 -ms-transform: rotate(1.06rad); 
					 transform: rotate(1.06rad);
                     width: 25px; 
					 height: 24px; 
					 left: 234.96px; 
					 top: 87.39px;
					 }

                     #simple_arc .w10 {
					 -moz-transform: rotate(1.22rad);
					 -webkit-transform: rotate(1.22rad);
					 -o-transform: rotate(1.22rad);
					 -ms-transform: rotate(1.22rad); 
					 transform: rotate(1.22rad);
                     width: 0px; 
					 height: 24px; 
					 left: 254.64px; 
					 top: 103.32px;
					 }

                     #simple_arc .w11 {
					 -moz-transform: rotate(6.28rad);
					 -webkit-transform: rotate(6.28rad);
					 -o-transform: rotate(6.28rad);
					 -ms-transform: rotate(6.28rad); 
					 transform: rotate(6.28rad);
                     width: 18px; 
					 height: 24px; 
					 left: 314.92px; 
					 top: 68px;
					 }

                     #simple_arc .w12 {
					 -moz-transform: rotate(6.45rad);
					 -webkit-transform: rotate(6.45rad);
					 -o-transform: rotate(6.45rad);
					 -ms-transform: rotate(6.45rad); 
					 transform: rotate(6.45rad);
                     width: 11px; 
					 height: 24px; 
					 left: 337.82px; 
					 top: 69.69px;
					 }

                     #simple_arc .w13 {
					 -moz-transform: rotate(6.65rad);
					 -webkit-transform: rotate(6.65rad);
					 -o-transform: rotate(6.65rad);
					 -ms-transform: rotate(6.65rad); 
					 transform: rotate(6.65rad);
                     width: 23px; 
					 height: 24px; 
					 left: 352.96px; 
					 top: 75.64px;
					 }

                     #simple_arc .w14 {
					 -moz-transform: rotate(6.9rad);
					 -webkit-transform: rotate(6.9rad);
					 -o-transform: rotate(6.9rad);
					 -ms-transform: rotate(6.9rad); 
					 transform: rotate(6.9rad);
                     width: 23px; 
					 height: 24px; 
					 left: 377.48px; 
					 top: 89.01px;
					 }

                     #simple_arc .w15 {
					 -moz-transform: rotate(7.16rad);
					 -webkit-transform: rotate(7.16rad);
					 -o-transform: rotate(7.16rad);
					 -ms-transform: rotate(7.16rad); 
					 transform: rotate(7.16rad);
                     width: 23px; 
					 height: 24px; 
					 left: 397.88px; 
					 top: 108.07px;
					 }

                     #simple_arc .w16 {
					 -moz-transform: rotate(7.36rad);
					 -webkit-transform: rotate(7.36rad);
					 -o-transform: rotate(7.36rad);
					 -ms-transform: rotate(7.36rad); 
					 transform: rotate(7.36rad);
                     width: 13px; 
					 height: 24px; 
					 left: 415.65px; 
					 top: 127.16px;
					 }

                     #simple_arc .w17 {
					 -moz-transform: rotate(7.52rad);
					 -webkit-transform: rotate(7.52rad);
					 -o-transform: rotate(7.52rad);
					 -ms-transform: rotate(7.52rad);
					 transform: rotate(7.52rad);
                     width: 11px; 
					 height: 24px; 
					 left: 423.41px; 
					 top: 142.74px;
					 }

                     #simple_arc .w18 {
					 -moz-transform: rotate(7.71rad);
					 -webkit-transform: rotate(7.71rad);
					 -o-transform: rotate(7.71rad);
					 -ms-transform: rotate(7.71rad); 
					 transform: rotate(7.71rad);
                     width: 22px; 
					 height: 24px; 
					 left: 422.92px; 
					 top: 163.61px;
					 }

                     #simple_arc .w19 {
					 -moz-transform: rotate(7.92rad);
					 -webkit-transform: rotate(7.92rad);
					 -o-transform: rotate(7.92rad);
					 -ms-transform: rotate(7.92rad); 
					 transform: rotate(7.92rad);
                     width: 15px; 
					 height: 24px; 
					 left: 427.2px; 
					 top: 187.05px;
					 }

                     #simple_arc .w20 {
					 -moz-transform: rotate(8.14rad);
					 -webkit-transform: rotate(8.14rad);
					 -o-transform: rotate(8.14rad);
					 -ms-transform: rotate(8.14rad); 
					 transform: rotate(8.14rad);
                     width: 23px; 
					 height: 24px; 
					 left: 418.9px; 
					 top: 210.62px;
					 }

                     #simple_arc .w21 {
					 -moz-transform: rotate(8.35rad);
					 -webkit-transform: rotate(8.35rad);
					 -o-transform: rotate(8.35rad);
					 -ms-transform: rotate(8.35rad); 
					 transform: rotate(8.35rad);
                     width: 13px; 
					 height: 24px; 
					 left: 415.11px; 
					 top: 231.83px;
					 }

                     #simple_arc .w22 {
					 -moz-transform: rotate(8.51rad);
					 -webkit-transform: rotate(8.51rad);
					 -o-transform: rotate(8.51rad);
					 -ms-transform: rotate(8.51rad); 
					 transform: rotate(8.51rad);
                     width: 13px; 
					 height: 24px; 
					 left: 405.3px; 
					 top: 246.9px;
					 }

	
                     #reversed_arc { 
					 
					 display: block; 
					 width:306px; 
					 height:305px;
					
					 }
					 
                     #reversed_arc>span[class^=w]:nth-of-type(n+0){
					 display:block; 
					 position:absolute;
                     -moz-transform-origin:50% 100%; 
					 -webkit-transform-origin:50% 100%; 
					 -o-transform-origin:50% 100%; 
					 -ms-transform-origin:50% 100%; 
					 transform-origin:50% 100%; 
					 }

                     #reversed_arc span{
					 font-family:'Viga';
					 font-size:38px;
					 font-weight:regular;
					 font-style:normal;
                     line-height:0.65; 
					 white-space:pre; 
					 overflow:visible; 
					 padding:0px;
					 }

                     #reversed_arc .w0 {
					 -moz-transform: rotate(7.29rad);
					 -webkit-transform: rotate(7.29rad);
					 -o-transform: rotate(7.29rad);
					 -ms-transform: rotate(7.29rad); 
					 transform: rotate(7.29rad);
                     width: 23px; 
					 height: 24px; 
					 left: 21.18px; 
					 top: 208.42px;
					 }

                     #reversed_arc .w1 {
					 -moz-transform: rotate(7.1rad);
					 -webkit-transform: rotate(7.1rad);
					 -o-transform: rotate(7.1rad);
					 -ms-transform: rotate(7.1rad); 
					 transform: rotate(7.1rad);
                     width: 21px; 
					 height: 24px; 
					 left: 38.61px; 
					 top: 229.8px;
					 }

                     #reversed_arc .w2 {
					 -moz-transform: rotate(6.91rad);
					 -webkit-transform: rotate(6.91rad);
					 -o-transform: rotate(6.91rad);
					 -ms-transform: rotate(6.91rad); 
					 transform: rotate(6.91rad);
                     width: 24px; 
					 height: 24px; 
					 left: 57.68px; 
					 top: 247.98px;
					 }

                     #reversed_arc .w3 {
					 -moz-transform: rotate(6.71rad);
					 -webkit-transform: rotate(6.71rad);
					 -o-transform: rotate(6.71rad);
					 -ms-transform: rotate(6.71rad); 
					 transform: rotate(6.71rad);
                     width: 21px; 
					 height: 24px; 
					 left: 82.87px; 
					 top: 261.87px;
					 }

                     #reversed_arc .w4 {
					 -moz-transform: rotate(6.52rad);
					 -webkit-transform: rotate(6.52rad);
					 -o-transform: rotate(6.52rad);
					 -ms-transform: rotate(6.52rad); 
					 transform: rotate(6.52rad);
                     width: 23px; 
					 height: 24px; 
					 left: 107.3px; 
					 top: 270.82px;
					 }

                     #reversed_arc .w5 {
					 -moz-transform: rotate(6.33rad);
					 -webkit-transform: rotate(6.33rad);
					 -o-transform: rotate(6.33rad);
					 -ms-transform: rotate(6.33rad); 
					 transform: rotate(6.33rad);
                     width: 22px; 
					 height: 24px; 
					 left: 134.96px; 
					 top: 274.82px;
					 }

                     #reversed_arc .w6 {
					 -moz-transform: rotate(6.14rad);
					 -webkit-transform: rotate(6.14rad);
					 -o-transform: rotate(6.14rad);
					 -ms-transform: rotate(6.14rad); 
					 transform: rotate(6.14rad);
                     width: 21px; 
					 height: 24px; 
					 left: 161.9px; 
					 top: 273.66px;
					 }

                     #reversed_arc .w7 {
					 -moz-transform: rotate(5.94rad);
					 -webkit-transform: rotate(5.94rad);
					 -o-transform: rotate(5.94rad);
					 -ms-transform: rotate(5.94rad); 
					 transform: rotate(5.94rad);
                     width: 26px; 
					 height: 24px; 
					 left: 187.05px; 
					 top: 266.97px;
					 }

                     #reversed_arc .w8 {
					 -moz-transform: rotate(5.77rad);
					 -webkit-transform: rotate(5.77rad);
					 -o-transform: rotate(5.77rad);
					 -ms-transform: rotate(5.77rad); 
					 transform: rotate(5.77rad);
                     width: 11px; 
					 height: 24px; 
					 left: 215.98px; 
					 top: 257.39px;
					 }

                     #reversed_arc .w9 {
					 -moz-transform: rotate(5.61rad);
					 -webkit-transform: rotate(5.61rad);
					 -o-transform: rotate(5.61rad);
					 -ms-transform: rotate(5.61rad); 
					 transform: rotate(5.61rad);
                     width: 25px; 
					 height: 24px; 
					 left: 228.14px; 
					 top: 244.72px;
					 }

                     #reversed_arc .w10 {
					 -moz-transform: rotate(5.41rad);
					 -webkit-transform: rotate(5.41rad);
					 -o-transform: rotate(5.41rad);
					 -ms-transform: rotate(5.41rad); 
					 transform: rotate(5.41rad);
                     width: 23px; 
					 height: 24px; 
					 left: 249.98px; 
					 top: 224.62px;
					 }

                     #reversed_arc .w11 {
					 -moz-transform: rotate(5.21rad);
					 -webkit-transform: rotate(5.21rad);
					 -o-transform: rotate(5.21rad);
					 -ms-transform: rotate(5.21rad); 
					 transform: rotate(5.21rad);
                     width: 23px; 
					 height: 24px; 
					 left: 265.83px; 
					 top: 201.59px;
					 }

			  
					#auto_radius { 
					display: block; 
					width:150px; 
					height:150px;
					}

                     #auto_radius>span[class^=w]:nth-of-type(n+0){
					 display:block; 
					 position:absolute;
                     -moz-transform-origin:50% 100%; 
					 -webkit-transform-origin:50% 100%; 
					 -o-transform-origin:50% 100%; 
					 -ms-transform-origin:50% 100%; 
					 transform-origin:21% 100%; 
					 }

                     #auto_radius span{
					 font-size:16px;
					 font-weight:regular;
					 font-style:normal;
                     line-height:0.65; 
					 white-space:pre; 
					 overflow:visible; 
					 padding:0px;
					 }

                     #auto_radius .w0 {
					 -moz-transform: rotate(-3.27rad);
					 -webkit-transform:rotate(-3.27rad);
					 -o-transform: rotate(-3.27rad);
					 -ms-transform:rotate(-3.27rad);
					 transform: rotate(-3.27rad);
                     height: 24px;
					 left: 115.49px;
                     top: 105.02px;				
					 width: 26px;
					 }

                     #auto_radius .w1 {
					 -moz-transform: rotate(3.02rad);
					 -webkit-transform:rotate(3.02rad);
					 -o-transform: rotate(3.02rad);
					 -ms-transform: rotate(3.02rad);
					 transform: rotate(3.02rad);
                    height: 24px;
				    left: 101.4px;
                    top: 104.91px;
					width: 27px;
					 }

                     #auto_radius .w2 {
					 -moz-transform: rotate(3.3rad);
					 -webkit-transform:rotate(3.3rad);
					 -o-transform: rotate(3.3rad);
					 -ms-transform: rotate(3.3rad);
					 transform: rotate(3.3rad);
                     height: 24px;
					left: 100.69px;
                    top: 101.71px;
					 width: 23px;
					 }

                     #auto_radius .w3 {
					 -moz-transform: rotate(3.57rad);
					 -webkit-transform: rotate(3.57rad);
					 -o-transform: rotate(3.57rad);
					 -ms-transform: rotate(3.57rad);
					 transform: rotate(-2.43rad);
                    height: 24px;
					  left: 101.87px;
                    top: 98.04px;
					width: 27px;
					 }

                     #auto_radius .w4 {
					 -moz-transform: rotate(2.79rad);
					 -webkit-transform: rotate(2.79rad);
					 -o-transform: rotate(2.79rad);
					 -ms-transform: rotate(2.79rad); 
					 transform: rotate(2.79rad);
                     width: 10px; 
					 height: 24px; 
					 left: 184.33px; 
					 top: 242.4px;
					 }

                     #auto_radius .w5 {
					 -moz-transform:rotate(7.99rad);
					 -webkit-transform: rotate(7.99rad);
					 -o-transform: rotate(7.99rad);
					 -ms-transform:rotate(7.99rad);
					height: 24px;
					left: 142.05px;
                    top: 64.88px;
					transform: rotate(7.99rad);
					width: 25px;
					 }

                     #auto_radius .w6 {
					 -moz-transform:  rotate(-4.73rad);
					 -webkit-transform:  rotate(-4.73rad);
					 -o-transform:  rotate(-4.73rad);
					 -ms-transform:  rotate(-4.73rad);
					   transform: rotate(-4.73rad);
                      height: 24px;
					  left: 143.15px;
                     top: 80.98px;
					 width: 26px;
					 }

                     #auto_radius .w7 {
					 -moz-transform: rotate(2.56rad);
					 -webkit-transform: rotate(2.56rad);
					 -o-transform: rotate(2.56rad);
					 -ms-transform: rotate(2.56rad);
					 transform: rotate(2.56rad);
                      height: 24px;
					 left: 151.49px;
                     top: 81.27px;
					width: 27px;
					 }

                     #auto_radius .w8 {
					 -moz-transform: rotate(5.78rad);
					 -webkit-transform: rotate(5.78rad);
					 -o-transform: rotate(5.78rad);
					 -ms-transform: rotate(5.78rad);
					transform: rotate(5.78rad);
                      height: 24px;
					  left: 161.89px;
                     top: 126.04px;
					width: 11px;
					 }

                     #auto_radius .w9 {
					 -moz-transform: rotate(-3rad);
					 -webkit-transform: rotate(-3rad);
					 -o-transform: rotate(-3rad);
					 -ms-transform: rotate(-3rad);
					   transform: rotate(-3rad);
					 height: 19px;
					left: 143.47px;
                    top: 106.61px;
					width: 27px;
					 }

                     #auto_radius .w10 {
					 -moz-transform: rotate(-9.73rad);
					 -webkit-transform: rotate(-9.73rad);
					 -o-transform:rotate(-9.73rad);
					 -ms-transform: rotate(-9.73rad);
					 transform: rotate(-9.73rad);
                    height: 24px;
				    left: 127.82px;
                   top: 103.3px;
					width: 21px;
					 }

                     #auto_radius .w11 {
					 -moz-transform: rotate(4.46rad);
					 -webkit-transform: rotate(4.46rad);
					 -o-transform: rotate(4.46rad);
					 -ms-transform: rotate(4.46rad); 
					 transform: rotate(4.46rad);
                     width: 10px; 
					 height: 24px; 
					 left: 41.4px; 
					 top: 167.03px;
					 }

                     #auto_radius .w12 {
					 -moz-transform: rotate(4.65rad);
					 -webkit-transform: rotate(4.65rad);
					 -o-transform: rotate(4.65rad);
					 -ms-transform: rotate(4.65rad);
					  transform: rotate(4.65rad);
                      height: 24px;
						left: 95.65px;
						top: 89.82px;
						width: 23px;
					 }

                     #auto_radius .w13 {
					 -moz-transform: rotate(4.91rad);
					 -webkit-transform: rotate(4.91rad);
					 -o-transform: rotate(4.91rad);
					 -ms-transform:rotate(4.91rad); 
					 transform: rotate(4.91rad);
                       height: 24px;
						left: 95.74px;
						top: 79.97px;
						width: 23px;
					 }

                     #auto_radius .w14 {
					 -moz-transform: rotate(5.19rad);
					 -webkit-transform: rotate(5.19rad);
					 -o-transform: rotate(5.19rad);
					 -ms-transform: rotate(5.19rad); 
					 transform: rotate(5.19rad);
					 height: 24px;
					 left: 94.75px;
   					top: 78.79px;
					width: 27px;
					 }

                     #auto_radius .w15 {
					 -moz-transform: rotate(5.46rad);
					 -webkit-transform: rotate(5.46rad);
					 -o-transform: rotate(5.46rad);
					 -ms-transform: rotate(5.46rad); 
					 transform: rotate(5.46rad);
                     width: 23px; 
					 height: 24px; 
					  left: 99.03px;
   					top: 68.38px;
					 }

                     #auto_radius .w16 {
					 -moz-transform: rotate(5.66rad);
					 -webkit-transform: rotate(5.66rad);
					 -o-transform: rotate(5.66rad);
					 -ms-transform: rotate(5.66rad); 
					 transform: rotate(5.66rad);
                     width: 10px; 
					 height: 24px; 
					 left: 108.69px;
                     top: 62.26px;
					 }

                     #auto_radius .w17 {
					/* -moz-transform: rotate(5.87rad);
					 -webkit-transform: rotate(5.87rad);
					 -o-transform: rotate(5.87rad);
					 -ms-transform: rotate(5.87rad); 
					 transform: rotate(5.87rad);*/
                     width: 26px; 
					 height: 24px; 
					left: 109.68px;
                     top: 56.97px;
					 }

                     #auto_radius .w18 {
					 -moz-transform: rotateY(6.14rad);
					 -webkit-transform: rotateY(6.14rad);
					 -o-transform: rotateY(6.14rad);
					 -ms-transform: rotateY(6.14rad);
					   transform: rotateY(6.14rad);
                     width: 22px; 
					 height: 24px; 
					 left: 122.51px;
                     top: 56.1px;
					 }

                     #auto_radius .w19 {
					 -moz-transform: rotate(12.38rad);
					 -webkit-transform: rotate(12.38rad);
					 -o-transform: rotate(12.38rad);
					 -ms-transform: rotate(12.38rad);
					 transform: rotate(12.38rad);
                     width: 22px; 
					 height: 24px; 
					  left: 139.43px;
                     top: 57.6px;
					 }

                     #auto_radius .w20 {
					 -moz-transform: rotateZ(6.58rad);
					 -webkit-transform: rotateZ(6.58rad);
					 -o-transform: rotateZ(6.58rad);
					 -ms-transform: rotateZ(6.58rad);
					   transform: rotateZ(6.58rad);
                     width: 10px; 
					 height: 24px; 
					left: 141.98px;
                    top: 62.79px;
					 }

                     #auto_radius .w21 {
					 -moz-transform: rotate(0.79rad);
					 -webkit-transform: rotate(0.79rad);
					 -o-transform: rotate(0.79rad);
					 -ms-transform: rotate(0.79rad);
					 transform: rotate(0.79rad);
                     width: 27px; 
					 height: 24px; 
					 left: 143.03px;
                     top: 68.05px;
					 }

                     #auto_radius .w22 {
					 -moz-transform: rotate(7.09rad);
					 -webkit-transform: rotate(7.09rad);
					 -o-transform: rotate(7.09rad);
					 -ms-transform: rotate(7.09rad); 
					 transform: rotate(7.09rad);
                     width: 27px; 
					 height: 24px; 
					 left: 217.21px; 
					 top: 64.6px;
					 }

                     #auto_radius .w23 {
					 -moz-transform: rotate(7.36rad);
					 -webkit-transform: rotate(7.36rad);
					 -o-transform: rotate(7.36rad);
					 -ms-transform: rotate(7.36rad); 
					 transform: rotate(7.36rad);
                     width: 23px; 
					 height: 24px; 
					 left: 236.74px; 
					 top: 88.83px;
					 }

                     #auto_radius .w24 {
					 -moz-transform: rotate(7.63rad);
					 -webkit-transform: rotate(7.63rad);
					 -o-transform: rotate(7.63rad);
					 -ms-transform: rotate(7.63rad); 
					 transform: rotate(7.63rad);
                     width: 25px; 
					 height: 24px; 
					 left: 245.81px; 
					 top: 115.94px;
					 }

                     #auto_radius .w25 {
					 -moz-transform: rotate(7.79rad);
					 -webkit-transform: rotate(7.79rad);
					 -o-transform: rotate(7.79rad);
					 -ms-transform: rotate(7.79rad); 
					 transform: rotate(7.79rad);
                     width: 0px; 
					 height: 24px; 
					 left: 260.79px; 
					 top: 133.24px;
					 }

                     #auto_radius .w26 {
					 -moz-transform: rotate(7.96rad);
					 -webkit-transform: rotate(7.96rad);
					 -o-transform: rotate(7.96rad);
					 -ms-transform: rotate(7.96rad); 
					 transform: rotate(7.96rad);
                     width: 26px; 
					 height: 24px; 
					 left: 247.31px; 
					 top: 152.21px;
					 }

                     #auto_radius .w27 {
					 -moz-transform: rotate(8.23rad);
					 -webkit-transform: rotate(8.23rad);
					 -o-transform: rotate(8.23rad);
					 -ms-transform: rotate(8.23rad); 
					 transform: rotate(8.23rad);
                     width: 22px; 
					 height: 24px; 
					 left: 242.29px; 
					 top: 180.26px;
					 }

                     #auto_radius .w28 {
					 -moz-transform: rotate(8.48rad);
					 -webkit-transform: rotate(8.48rad);
					 -o-transform: rotate(8.48rad);
					 -ms-transform: rotate(8.48rad); 
					 transform: rotate(8.48rad);
                     width: 22px; 
					 height: 24px; 
					 left: 229.32px; 
					 top: 203.87px;
					 }

                     #auto_radius .w29 {
					 -moz-transform: rotate(8.67rad);
					 -webkit-transform: rotate(8.67rad);
					 -o-transform: rotate(8.67rad);
					 -ms-transform: rotate(8.67rad); 
					 transform: rotate(8.67rad);
                     width: 10px; 
					 height: 24px; 
					 left: 221.46px; 
					 top: 219.6px;
					 }

                     #auto_radius .w30 {
					 -moz-transform: rotate(8.88rad);
					 -webkit-transform: rotate(8.88rad);
					 -o-transform: rotate(8.88rad);
					 -ms-transform: rotate(8.88rad); 
					 transform: rotate(8.88rad);
                     width: 27px; 
					 height: 24px; 
					 left: 194.2px; 
					 top: 233.68px;
					 }

                     #auto_radius .w31 {
					 -moz-transform: rotate(9.18rad);
					 -webkit-transform: rotate(9.18rad);
					 -o-transform: rotate(9.18rad);
					 -ms-transform: rotate(9.18rad); 
					 transform: rotate(9.18rad);
                     width: 27px; 
					 height: 24px; 
					 left: 164.71px; 
					 top: 245.8px;
					 }

                     #auto_radius .w32 {
					 -moz-transform: rotate(9.45rad);
					 -webkit-transform: rotate(9.45rad);
					 -o-transform: rotate(9.45rad);
					 -ms-transform: rotate(9.45rad); 
					 transform: rotate(9.45rad);
                     width: 23px; 
					 height: 24px; 
					 left: 136.97px; 
					 top: 248.94px;
					 }

                     #auto_radius .w33 {
					 -moz-transform: rotate(9.72rad);
					 -webkit-transform: rotate(9.72rad);
					 -o-transform: rotate(9.72rad);
					 -ms-transform: rotate(9.72rad); 
					 transform: rotate(9.72rad);
                     width: 25px; 
					 height: 24px; 
					 left: 107.45px; 
					 top: 244.18px;
					 }

                     #auto_radius .w34 {
					 -moz-transform: rotate(9.88rad);
					 -webkit-transform: rotate(9.88rad);
					 -o-transform: rotate(9.88rad);
					 -ms-transform: rotate(9.88rad); 
					 transform: rotate(9.88rad);
                     width: 0px; 
					 height: 24px; 
					 left: 103.71px; 
					 top: 237.72px;
					 }
			.f-side{
				float:left;
				width:49%;
				text-align:left;
				
			}
			.s-side{
				float:left;
				text-align:left;
				width:49%;
				margin:0 0 0 2%;
			}
           .clear{
			   clear:both;
		   }
		   .tab-one{
			   width:49%;
			   float:left;}
			   
			   .tab-two{
			   width:49%;
			   float:left;
			   margin:0 0 0 2%;}
			   
			   .cour{
				  font-size: 15px;
                 font-weight: bold;
				 width:72%;
				 padding: 5px;
			     float:left;}
			   
			   .grade{
				   text-align:center;
			    width:10%;
				padding: 5px;
			   float:left;}
			   
			   .credite{
				   text-align:center;
			    width:10%;
				padding: 5px;
			   float:left;}
			   
			   .cr-left{
				   border-left:1px solid #fff;
			   }
			   .course{
				    background-color: #ccc;
					overflow: hidden;
					width: 100%;
					border-top: 1px solid #fff;
			   }
			   .bd-gray{
				   border-left:1px solid #fff;
			   }
			   
			   .lite_section{
				background-color: #eaeaea;
				overflow: hidden;
				width: 100%;
				border-top: 1px solid #fff;
			   }
			.study{
			float: left;
			padding: 5px;
			width: 72%;
			}
			.grade-a{
				   text-align:left;
			    width:10%;
				padding: 5px;
			   float:left;}
			   
			   .credite-a{
				   text-align:center;
			    width:10%;
				padding: 5px;
			   float:left;}
			   
			   .bd-bottom{
				   border-bottom:1px solid #fff;
			   }
			   
			   .study-last{
				    float: left;
					padding: 5px;
					width: 84.5%;
					 font-size: 15px;
                    font-weight: bold;
			   }
			   .tab-section{
				   margin:10px 0 0 0;
				   overflow:hidden;
			   }
			   .st-info{
				   color:#717171;
				   font-weight:bold;
			   }
			  .cumulative{
				     background-color: #ccc;
					border-top: 1px solid #fff;
					font-size: 15px;
					font-weight: bold;
					overflow: hidden;
					padding: 5px;
					width: 100%;
			  }
			  .total_cr{
				    background-color: #eaeaea;
					border-top: 1px solid #fff;
					overflow: hidden;
					
			  }
			  .tot-cr{
				  width:22%;
				  float:left;
				  text-align:center;
				  padding: 5px;
			  }
			  .gpa-cr{
				  width:22%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .gpa-point{
				  width:22%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .gpa{
				  width:22%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .summary{
				  background-color: #eaeaea;
					border-top: 1px solid #fff;
					overflow:hidden;
			  }
			  .cum-gpa{
				   width:27%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .nineth{
				   width:15%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .tanth{
				   width:15%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .eleventh{
				   width:15%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .twelveth{
				   width:15%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .gra-one{
				  width:17.5%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			    .gra-two{
				  width:17.5%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			    .gra-three{
				  width:17.5%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			    .gra-four{
				  width:17.5%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			    .gra-five{
				  width:17.5%;
				  float:left;
				   text-align:center;
				   padding: 5px;
			  }
			  .authoeize{
				  overflow:hidden;
				  background-color:#eaeaea;
				  margin:5px 0 ;
			  }
			  .authoeize input{
				   width: 97.5%;
				  height:100px;
				  margin:5px;
				  border:none;
			  }
			  .atho-one{
				  width:47%;
				  float:left;
				  text-align:left;
				   padding: 5px;
			  }
			   .atho-sec{
				  width:47%;
				  float:left;
				  text-align:left;
				   padding: 5px;
			  }
			  .atho{
				     border-top: 1px solid #fff;
			  }