


table, tr, td, th, tbody, thead, tfoot {
page-break-inside: avoid !important;
}

@charset "utf-8";
/* CSS Document */
body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
line-height:21px;
font-size:14px;
}
.wraper{

width:1144px;
margin:0 auto;
padding:10px;
}
.lft-side{
color:#666;
width:50%;
float:left;
}
.rgt-side{
width:50%;
float:left;
}
.school_logo{
float:right;

}
.lg-inside{
font-size: 12px;
font-weight: bold;
left: 41px;
position: relative;
top: 56px;
}
.high-school{
font-size: 14px;
font-weight: bold;
left: -59px;
position: relative;
top: -62px;
}
.f-side{
float:left;
width:49%;
text-align:left;

}
.s-side{
float:left;
text-align:left;
width:49%;
margin:0 0 0 2%;
}
.clear{
clear:both;
}
.tab-one{
width:99%;
float:left;
margin-bottom: 5px;}

.tab-two{
width:100%;
float:left;
margin:0 0 0 0;}

.cour{
font-size: 15px;
font-weight: bold;
width: 45%;
padding: 5px;
float:left;}

.grade{
text-align:center;
width: 15%;
padding: 5px;
float:left;}

.honors {
text-align:center;
width: 20%;
padding: 5px;
float:left;
border-left: solid 1px #fff;}

.credite{
text-align:center;
width: 15%;
padding: 5px;
float:left;}

.cr-left{
border-left:1px solid #fff;
}
.course{
background-color: #ccc;
overflow: hidden;
width: 100%;
border-top: 1px solid #fff;
}
.bd-gray{
border-left:1px solid #fff;
}

.lite_section{
background-color: #eaeaea;
overflow: hidden;
width: 100%;
border-top: 1px solid #fff;
}
.study{
float: left;
padding: 5px;
width: 48%;
}
.grade-a{
text-align:center;
width:18%;
padding: 5px;
float:left;}

.credite-a{
text-align:center;
width:10%;
padding: 5px;
float:left;}

.bd-bottom{
border-bottom:1px solid #fff;
}

.study-last{
float: left;
padding: 5px 7px 5px;
width: 81%;
font-size: 15px;
font-weight: bold;
}
.tab-section{
margin:10px 0 0 0;
overflow:hidden;
}
.st-info{
color:#717171;
font-weight:bold;
}
.cumulative{
background-color: #ccc;
border-top: 1px solid #fff;
font-size: 15px;
font-weight: bold;
overflow: hidden;
padding: 5px;
width: 100%;
}
.total_cr{
background-color: #eaeaea;
border-top: 1px solid #fff;
overflow: hidden;

}
.tot-cr{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa-cr{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa-point{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.summary{
background-color: #eaeaea;
border-top: 1px solid #fff;
overflow:hidden;
}
.cum-gpa{
width:27%;
float:left;
text-align:center;
padding: 5px;
}
.nineth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.tanth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.eleventh{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.twelveth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.gra-one{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-two{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-three{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-four{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-five{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.authoeize{
overflow:hidden;
background-color:#eaeaea;
margin:5px 0 ;
}
.authoeize input{
width: 97.5%;
height:55px;
margin:5px;
border:none;
}
.atho-one{
width:47%;
float:left;
text-align:left;
padding: 5px;
}
.atho-sec{
width:47%;
float:left;
text-align:left;
padding: 5px;
}
.atho{
border-top: 1px solid #fff;
}
.pd-mar-botm{margin-bottom:8px;}
.qpd-outer{
  margin-right: -15px;
  margin-left: -15px;
}
.qpd-outer2{width:49%; float:left;margin-bottom:4px; margin-right: 1%}
.clearfq{clear:both;}
.clearmargin{margin-bottom: 10px;}

/**************************************************/
.table1 thead {
	 background-color: #ccc;
}
thead th{
	 background-color: #ccc!important;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th
.table {	
	border:solid 1px #fff!important;
	
}
.table > tbody + tbody {
    border-top: 1px solid #fff!important;
    
}
table {
	border-collapse:collapse;
	
	padding:0!important;
	margin-bottom:8px!important;
	
}
table td{
background-color: #eaeaea;
}
table td, table th {
	padding:0!important;
	line-height:35px!important;
	text-align: center;	
}

table td {	
}
.table1 table thead tr th:first-child, .table1 table tbody tr td:first-child {
	text-align:left;
    font-weight: bold;
    padding-left:5px!important;
}
.text-table {
	border: medium none;
    height: 55px;
    margin: 0px;
    width: 100%;
}
 .no-left td {
 	text-align:center!important;
 	font-weight: normal!important;
 }
 .no-bold td {
 	font-weight: normal!important;
 }