table, tr, td, th, tbody, thead, tfoot {
page-break-inside: avoid !important;
}

@charset "utf-8";
/* CSS Document */
body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
line-height:21px;
font-size:14px;
}
.wraper{

width:1144px;
margin:0 auto;
padding:10px;
}
.lft-side{
color:#666;
width:50%;
float:left;
}
.rgt-side{
width:50%;
float:left;
}
.school_logo{
float:right;

}
.lg-inside{
font-size: 12px;
font-weight: bold;
left: 41px;
position: relative;
top: 56px;
}
.high-school{
font-size: 14px;
font-weight: bold;
left: -59px;
position: relative;
top: -62px;
}
.f-side{
float:left;
width:49%;
text-align:left;

}
.s-side{
float:left;
text-align:left;
width:49%;
margin:0 0 0 2%;
}
.clear{
clear:both;
}
.tab-one{
width:49%;
float:left;}

.tab-two{
width:49%;
float:left;
margin:0 0 0 2%;}

.cour{
font-size: 15px;
font-weight: bold;
width:54%;
padding: 5px;
float:left;}

.grade{
text-align:center;
width:10%;
padding: 5px;
float:left;}

.honors {
text-align:center;
width:18%;
padding: 5px;
float:left;
border-left: solid 1px #fff;}

.credite{
text-align:center;
width:10%;
padding: 5px;
float:left;}

.cr-left{
border-left:1px solid #fff;
}
.course{
background-color: #ccc;
overflow: hidden;
width: 100%;
border-top: 1px solid #fff;
}
.bd-gray{
border-left:1px solid #fff;
}

.lite_section{
background-color: #eaeaea;
overflow: hidden;
width: 100%;
border-top: 1px solid #fff;
}
.study{
float: left;
padding: 5px;
width: 54%;
}
.grade-a{
text-align:left;
width:18%;
padding: 5px;
float:left;}

.credite-a{
text-align:center;
width:10%;
padding: 5px;
float:left;}

.bd-bottom{
border-bottom:1px solid #fff;
}

.study-last{
float: left;
padding: 5px;
width: 82%;
font-size: 15px;
font-weight: bold;
}
.tab-section{
margin:10px 0 0 0;
overflow:hidden;
}
.st-info{
color:#717171;
font-weight:bold;
}
.cumulative{
background-color: #ccc;
border-top: 1px solid #fff;
font-size: 15px;
font-weight: bold;
overflow: hidden;
padding: 5px;
width: 100%;
}
.total_cr{
background-color: #eaeaea;
border-top: 1px solid #fff;
overflow: hidden;

}
.tot-cr{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa-cr{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa-point{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.gpa{
width:22%;
float:left;
text-align:center;
padding: 5px;
}
.summary{
background-color: #eaeaea;
border-top: 1px solid #fff;
overflow:hidden;
}
.cum-gpa{
width:27%;
float:left;
text-align:center;
padding: 5px;
}
.nineth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.tanth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.eleventh{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.twelveth{
width:15%;
float:left;
text-align:center;
padding: 5px;
}
.gra-one{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-two{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-three{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-four{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.gra-five{
width:17.5%;
float:left;
text-align:center;
padding: 5px;
}
.authoeize{
overflow:hidden;
background-color:#eaeaea;
margin:5px 0 ;
}
.authoeize input{
width: 97.5%;
height:100px;
margin:5px;
border:none;
}
.atho-one{
width:47%;
float:left;
text-align:left;
padding: 5px;
}
.atho-sec{
width:47%;
float:left;
text-align:left;
padding: 5px;
}
.atho{
border-top: 1px solid #fff;
}