<p>Hello 
	
	<%if @scope_name == :admin_user%>
		Admin,
	<%else%>
		<%=@resource.first_name%>,
	<%end%>
</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>


<%if @scope_name == :admin_user%>
		<p><%= link_to 'Click here', edit_admin_user_password_url(@resource, reset_password_token: @token) %> to change your password.</p>
	<%else%>
		<p><%= link_to 'Click here', edit_password_url(@resource, reset_password_token: @token) %> to change your password.</p>
	<%end%>



<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
