<div class="footer1">
<footer id="footer">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-3 ">
					<p class="phdr">The Company</p>
					<ul class="contact">
            			
						<li><%= link_to 'About Us',about_path%></li>
						<li><a href="#">Features</a></li>
						<li><%= link_to 'Plans',plans_path%></li>
                        <li><%= link_to 'Contact Us',contact_path%></li>
		  </ul>
				</div>
				<div class="col-sm-3">
					<p class="phdr">Help</p>
					<ul class="contact">
            			
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Faq's</a></li>
		  </ul>
				</div>
				<div class="col-sm-3">
					<div class="contact-details">
						<p class="phdr">Contact</p>
							<p><i class="icon icon-envelope"></i> <strong>E-mail: </strong> <a href="mailto:info@transcripts.me">info@transcripts.me</a></p>
						
					</div>
				</div>
				<div class="col-sm-3">
					<p class="phdr">Follow Us</p>
					<div class="social-icons">
						<div class="soc1"><a href="#"><img src="/assets/facebook.png" width="26" height="26" /></a></div>
			            <div class="soc2"><a href="#">Facebook</a></div>
			            <div class="clearfix"></div>
					</div>
				</div>
			</div>
			
		</div>
           <div class="footer6">
      <div class="container">
        <div class="footer7"><img src="/assets/footerlogo.png" width="142" height="50"></div>
        <div class="footer8">© 2015. All Right Reserved</div>
      </div>
    </div>
	</footer>
    </div>